* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background-color: #fff;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.todo_box {
  border: 2px solid #7f8c8d;
  border-radius: 6px;
  padding: 15px;
  max-width: 900px;
  margin: auto;
}

.todo_box input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 15px;
}

.todo_box button {
  width: 100%;
  padding: 12px;
  background-color: #2e86b7;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.todo_box button:hover {
  background-color: #256c94;
}

