* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background-color: #fff;
}

.container {
  max-width: 900px;
  margin: auto;
  /* width: 90%; */
  /* max-width: 100%; */
  /* padding: 20px; */
}

.title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.todo_box {
  border: 2px solid #7f8c8d;
  border-radius: 6px;
  padding: 15px;
  margin: auto;
}

.todo_box input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 15px;
}

.todo_box button {
  width: 100%;
  padding: 12px;
  background-color: #2e86b7;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.todo_box button:hover {
  background-color: #225a7a;
}


.filters {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 15px auto;
  gap: 10px;
}

.filters button {
  flex: 1;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #2e86b7;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}


.filters button:hover {
  background-color: #225a7a;
  color: #fff;
}

.Delete-actions {
  max-width: 900px;
  margin: 15px auto;
  display: flex;
  gap: 10px;
}

.Delete-actions button {
  flex: 1;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #fa2912; 
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.Delete-actions button:hover {
  background-color: #761c12;
}

.error-message {
  color: #fa2912;
  font-size: 14px;
  margin-top: 5px;
  display: none;
  text-align: left;  
  width: 100%;        
}

.error-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.checkbox {
  transform: scale(1.2);
  margin-right: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.todo-item button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
}

.todo-item button:first-child {
  color: yellow;
}
.todo-item button:first-child:hover {
  color: #ffcc00;
}

.todo-item button:last-child {
  color: red;
}

.todo-item button:last-child:hover {
  color: #ff5555;
}

.todo-item i {
  font-size: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin: auto;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: #5b0606;
}